name: 'Run go tests'
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
jobs:
  go-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - run: go test -v ./...
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
